<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/createShop.css">
    <title>Register</title>
</head>
<body>
    <div class="form-container">
        <form class="form register-form" action="/shop/create" method="POST">
            <h1 class="header">Sign Up</h1>
            <input class="form-input" id ="name" name="name" type="text" placeholder="Name">
            <select name="city" id="city">
                <option value="dhaka">Dhaka</option>
                <option value="chittagong">Chittagong</option>
                <option value="khulna">Khulna</option>
                <option value="rajshahi">Rajshahi</option>
                <option value="gazipur">Gazipur</option>
                <option value="sylhet">Sylhet</option>
                <option value="mymensingh">Mymensingh</option>
                <option value="barisal">Barisal</option>
                <option value="rangpur">Rangpur</option>
                <option value="comilla">Comilla</option>
                <option value="narayanganj">Narayanganj</option>
            </select>
            <select name="area" id="area">
                <option value="dhanmondi">Dhanmondi</option>
                <option value="mirpur">Mirpur</option>
                <option value="banani">Banani</option>
                <option value="gulshan">Gulshan</option>
            </select>
            <button type="button" class="btn" id="new-shop">Create Shop</button>
            <a href="/">Home</a>
        </form>
    </div>
    <script type="text/javascript" src="/js/createShop.js"></script>
</body>
</html>
