<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PRODUCT PAGE</title>
    <link rel="stylesheet" href="CSS/product.css">
    

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">

</head>

<body>
 
    <div class="product-card" > 
    <div class="product-image">
        <img src="IMAGES/img-1.jpg">
          <div class="product-info">
        </div>
        
    </div>  
    
     
    </div>
     
       <div class="product-card1" > 
    <div class="product-info">
         <h5>We are proud to be the first official OMEGA vintage store. We have a large selection of OMEGA Vintage Watches for sale as well as other prestigious brands such as Patek Philippe, Cartier and Vacheron & Constantin. We also stock many rare early timepieces by some of the most influential watchmakers in history from likes of Breguet, Mudge and Tompion.</h5>
        
      <input type="text" placeholder="Quantity">
        <ul>
           <li><a href="#" >ADD TO CART</a></li>   
           <li><a href="#" >BUY NOW</a></li>        
                    
       </ul>
    </div>
     
    </div>
     
    
     
    
     


 

</body>

</html>