<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=product.name%></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/product.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="product-name"><%=product.name%></h1>
        <div class="main-container">
            <div class="product-card" >
                <img class="product-image" src="/images/<%=product.image%>">
            </div>
            <div class="product-options">
                <div class="product-description">
                    <h5>We are proud to be the first official OMEGA vintage store. We have a large selection of OMEGA Vintage Watches for sale as well as other prestigious brands such as Patek Philippe, Cartier and Vacheron & Constantin. We also stock many rare early timepieces by some of the most influential watchmakers in history from likes of Breguet, Mudge and Tompion.</h5>
                </div>
                <input type="text" placeholder="Quantity">
                <button class="btn product-btn">
                    ADD TO CART
                </button>
            </div>
        </div>
    </body>
</html>
