<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>USER PAGE</title>
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">

</head>

<body>

    
     
 
    <div class="user-card" > 
    <div class="user-image">
           <img src="https://wallpapercave.com/wp/wp5741281.jpg">
    
          <div class="user-info">
        </div>
        
    </div>  
    </div>
    
     
    
       <div class="user-card" > 
        
        
        
    <div class="product-info">
      <h2>Name</h2>
         <h5>Arpita</h5>
      <h2>Email</h2>
         <h5>arpita4961@gmail.com</h5>  
      <h2>Phone</h2>
         <h5>0117723899</h5>
        
      
    </div>
     
    </div>
     
       <div class="user-card2" > 
         
    <div class="">
      
    </div>
    </div>
     
    
     
    
     


 

</body>

</html>