* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f6f6f6;
}
input{
    width: 80%;
    height: 30px;
    padding: 10px;
    font-size:25px;
    font-weight: bold;
}
.product-name {
    text-align: center;
    padding: 10px 0px;
}
.product-card{
    height: 400px;
    width: 400px;
    float: left;
}
.product-image {
    height: 100%;
    width: 100%;
}
.product-options{
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-description {
    padding: 15px;
    height: 230px;
    font-size: 20px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #c5c5c5;
}

.product-btn {
    margin-top: 20px;
}
