* {
   margin: 0px;
   padding: 0px;
   font-family: Ubuntu, sans-serif;
}
a {
   text-decoration: none;
}
body {
   background-color: rgb(245, 237, 235);
   min-width: 800px;
}
.btn {
   margin: 5px;
   padding: 10px;
   font-size: 25px;
   border: 0px;
   outline: none;
   background-color: #26cc6e;
   cursor: pointer;
}
.btn:hover{
   background-color: #40e286;
}
.nav {
   background-color: rgb(35, 38, 44);
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
}
.nav > * {
   flex: 1 1 160px;
   flex-wrap: nowrap;
   margin: 20px 10px;
}
.main-header {
   color: white;
   font-size: 30px;
}
.search-bar{
   min-width: 300px;
   height: 49px;
   outline:none;
   font-size: 30px;
   flex-grow: 10;
   border: 0;
}
.nav-buttons {
   min-width: 250px;
   display: flex;
   justify-content: flex-end;
}
