* {
   margin: 0px;
   padding: 0px;
   font-family: Ubuntu, sans-serif;
}

body {
   background-color: rgb(245, 237, 235);
}

.button {
   margin: 5px;
   padding: 10px;
   font-size: 25px;
   border: 0px;
   outline: none;
   background-color: #26cc6e;
}

.button:hover{
   background-color: #40e286;
}


