label {
   font-size: 30px;
}
form {
   display: flex;
   flex-direction: column;
   padding: 0% 10%;
}
.form-input {

}
.main-body {
   display: flex;
}
.page-nav-container {
   width: 50%;
}
.button-container {
   display: flex;
   flex-direction: column;
   margin: 20vh 20%;
   box-shadow: 0px 0px 20px black;
   max-width: 400px;
}
.nav-button {
   font-size: 20px;
   padding: 20px 0px;
   border: 0px;
   outline: none;
   background-color: #26cc6e;
   cursor: pointer;
}
.nav-button:hover{
   background-color: #40e286;
}
.user-container {
   width: 50%;
   padding-top: 20vh;
}
.user-info {
   margin-bottom: 20px;
}
.form-input {
   font-size: 20px;
   padding: .25em 0.5em;
   margin-bottom: 15px;
   outline: none;
}
.form-input-button {
   font-size: 25px;
   padding: .5em 0.5em;
   outline: none;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   background-color: #26cc6e;
}
.form-input-button:hover {
   background-color: #40e286;
}
.form-date {
   cursor: pointer;
}
.info-container {
   box-shadow: 0px 0px 20px black;
   margin: 0px 5vw;
   padding: 2em 20px;
   border-radius: 5px;
   max-width: 500px;
}
